@use "sass:color";

$theme-color: #5980bb;

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

img {
  width: 40%;
  height: auto;
}

.prueba_prefixiado {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

button {
  background-color: $theme-color;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: color.scale($theme-color, $lightness: 20%);
  }
}
