#root {
  text-align: center;
  width: 100vw;
  height: 95vh;
}

.container {
  display: flex;
  width: 100vw;
  height: 85vh;
}

.header{
  width: 38vw;
  padding-left: 2vw;
  height: 95vh;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;

}

.infoList {
  list-style-type: none ;
  margin: 0;
  width: 70vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
}

.infoList li {
  font-weight: bold;
  padding: 4vh 0;
  width: 60vw;
  
}

.li-about-me:hover + .about-me{
  background-color: rgb(202, 147, 195);
  display: flex;
}

.about-me {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 6vh;
  width: 59vw;
  border: 5px solid black;
}

.li-hobbies:hover + .hobbies{
  background-color: rgb(147, 186, 202);
  display: flex;
}

.hobbies {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  height: 6vh;
  width: 59vw;
  border: 5px solid black;
}

.projects {
  padding: 2vh 0;
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
}

.project-card {
  width: 18vw;
  border: 1px solid black;
  font-size: 11px;
  padding: 5px;
}

.project-card:hover {
  flex-grow: 1;
}

.footer {
  height: 5vh;
  font-size: 10px;
}
