.flashcard {
  height: 40vh;
  width: 28vw;
  margin: 1vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  cursor: pointer; 
  border: 5px solid black;
}

.flashcard__contain {
  text-align: center;
  width: 22vw;
  height: 20vh;
  margin: 5vh;
  padding: 2vh;
  background-color: aqua;
}

.flashcard--showing-answer {
  background-color: rgb(13, 0, 255);
}

.flashcard__options {
  text-align: center;
  font-size: 0.7rem;
  background-color: rgb(177, 122, 160);
  align-self: flex-end;
  cursor: pointer;
}

.flashcard__topic {
  margin: 0 3vh;
  text-align: right;
  background-color: rgb(177, 122, 160);
  align-self: flex-end;
}