.hojas {
  display: relative;
  margin-top: 50px;
}

.hojas1 {
  width: 0;
  height: 0;
  background-color: rgb(24, 145, 36);
  margin-left: 15px;
  border-right: 60px solid white;
  border-left: 60px solid white;
  border-bottom: 60px solid green;
  position: absolute;
  z-index: 1;
  padding-bottom: 50px;
}

.hojas3 {
  width: 0;
  height: 0;
  background-color: rgb(24, 145, 36);
  margin-left: 25px;
  border-right: 50px solid white;
  border-left: 50px solid white;
  border-bottom: 50px solid rgb(53, 139, 53);
  position: absolute;
  z-index: 1;
  padding-bottom: 28px;
}
.hojas2 {
  width: 0;
  height: 0;
  background-color: rgb(24, 145, 36);
  margin-left: 54px;
  border-right: 20px solid white;
  border-left: 20px solid white;
  border-bottom: 20px solid rgb(81, 150, 81);
  position: absolute;
  padding-bottom: 15px;
  z-index: 2;
}

.tronco {
  position: absolute;
  margin-top: 50px;
  width: 30px;
  height: 90px;
  background-color: brown;
  margin-left: 60px;
}
